<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="path" type="folder" source="pictures" label="Image directory path"  default="" />
    <setting id="duration" type="enum" label="Duration in seconds" default="1" values="2|10|20|30|40|50|60|70|80|90|100|110|120"/>
    <setting id="reloadInterval" type="enum" label="Reload Images interval in minutes" default="3" values="1|5|10|15|20|30|60"/>
    <!-- <setting id="randomize"  type="bool" label="Randomize" default="false"/>
    <setting id="animate"    type="bool" label="Animate" default="false"/> -->
</settings>